@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
  outline: 0;
}

:root {
  --font: "DM Sans", sans-serif;
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-gray: #838383;
  --color-dark-gray: #333333;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

.app {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background-color: var(--color-dark-gray);
  font-family: var(--font);
  border-radius: 16px;
  font-size: 15px;
  overflow: hidden;
  color: var(--color-foreground);
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
  view-transition-name: app;
}

.task-list {
  max-height: 60vh;
  overflow: auto;
}

.task-status {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  background-color: var(--color-dark-gray);
  margin-right: 10px;
  position: relative;
}

.task-status:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='405.272' height='405.272'%3e%3cpath d='M393.401 124.425L179.603 338.208c-15.832 15.835-41[...");
  background-size: 10px;
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  background-repeat: no-repeat;
  background-position: center;
}

.task-delete {
  margin-left: 10px;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 20px;
}

.task-item + .task-item {
  border-top: 1px solid var(--color-dark-gray);
}

.task-item:hover {
  background-color: var(--color-gray);
}

.task-name {
  margin-right: auto;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-item.is-completed > .task-name {
  -webkit-text-decoration: line-through wavy rgba(255, 255, 255, 0.3);
          text-decoration: line-through wavy rgba(255, 255, 255, 0.3);
}

.task-item.is-completed {
  background-color: rgba(131, 131, 131, 0.1);
}

.task-header-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 20px 6px 20px;
}

.task-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 20px;
}

.task-filter {
  border: 0;
  padding: 3px 8px;
  background: 0;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font);
  color: var(--color-gray);
  border-radius: 20px;
}

.task-filter.is-active {
  background-color: var(--color-gray);
  color: var(--color-foreground);
}

.task-count {
  color: var(--color-gray);
  font-size: 14px;
}

.task-form {
  display: flex;
  margin-top: 10px;
}

.task-input {
  flex: 1;
  font-size: 16px;
  font-family: var(--font);
  padding: 10px 20px;
  border: 0;
  box-shadow: 0 -1px 0 var(--color-gray) inset;
  color: var(--color-foreground);
}

.task-input::-moz-placeholder {
  color: var(--color-gray);
}

.task-input:-ms-input-placeholder {
  color: var(--color-gray);
}

.task-input::placeholder {
  color: var(--color-gray);
}

.task-input:focus {
  box-shadow: 0 -1px 0 var(--color-gray) inset;
}

.task-button {
  display: none;
}

.task-delete {
  border: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23dc4771' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 174.239 174.239'%3e%3cpath d='M87.12 0C39.082 0 0 39.082 0 87.12s[...");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: none;
}

.task-item:hover > .task-delete {
  display: block;
}

.task-empty {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23f4f4f4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 486.463 486.463'%3e%3cpath d='M243.225 333.382c-13.6 0-25 11.4-25[...");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 500;
  font-size: 18px;
  background-size: 80px;
}

@media (max-width: 600px) {
  .task-delete {
    display: block;
  }
}
